header {
    font-family: fantasy;
}

header h1 {
    font-size: 20px;
}

.input-element {
    margin-top: 20px;
    width: fit-content;
}

.small {
    font: 12px sans-serif;
}

.light-blue {
    fill: rgba(0, 0, 255, 0.418);
}

#alert {
    color: red;
}

table {
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid black;
    padding: 8px 12px;
    text-align: center;
}

fieldset button {
    width: 30px;
}